In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Iris.csv')

In [4]:
df.head()

   Id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df = df.drop('Id', axis=1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df = df.rename(columns={'species':'lables'})
df.head()

   sepal_length  sepal_width  petal_length  petal_width       lables
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
feats = [i for i in df.columns if i != "lables"]
feats

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [8]:
X= df[feats]
Y= df["lables"]

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [10]:
X_train.shape

(120, 4)

In [11]:
Y_train.shape

(120,)

In [12]:
X_test.shape

(30, 4)

In [13]:
Y_test.shape

(30,)

In [30]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD, Adam

In [40]:
# Define model structure
model = Sequential()

model.add(Dense(8, input_dim=4, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [41]:
# Compile
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [42]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 40
_________________________________________________________________
dense_4 (Dense)              (None, 10)                90
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 27
=================================================================
Total params: 245
Trainable params: 245
Non-trainable params: 0
_________________________________________________________________

In [43]:
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder

In [44]:
encoder = LabelEncoder()
encoder.fit(Y_train)
encoded_Y = encoder.transform(Y_train)
# one hot encode
Y_train_encoded = to_categorical(encoded_Y)

In [45]:
# Fit model
model.fit(X_train, Y_train_encoded, epochs=10, batch_size=128)

Train on 120 samples
Epoch 1/10
120/120 [==============================] - 0s 3ms/sample - loss: 1.1275 - accuracy: 0.3250
Epoch 2/10
120/120 [==============================] - 0s 25us/sample - loss: 1.1249 - accuracy: 0.3250
Epoch 3/10
120/120 [==============================] - 0s 17us/sample - loss: 1.1224 - accuracy: 0.3250
Epoch 4/10
120/120 [==============================] - 0s 21us/sample - loss: 1.1200 - accuracy: 0.3250
Epoch 5/10
120/120 [==============================] - 0s 25us/sample - loss: 1.1176 - accuracy: 0.3250
Epoch 6/10
120/120 [==============================] - 0s 42us/sample - loss: 1.1154 - accuracy: 0.3250
Epoch 7/10
120/120 [==============================] - 0s 42us/sample - loss: 1.1132 - accuracy: 0.3250
Epoch 8/10
120/120 [==============================] - 0s 50us/sample - loss: 1.1110 - accuracy: 0.3250
Epoch 9/10
120/120 [==============================] - 0s 34us/sample - loss: 1.1089 - accuracy: 0.3250
Epoch 10/10
120/120 [==============================] - 0s 25us/sample - loss: 1.1069 - accuracy: 0.3250

In [46]:
encoder.fit(Y_test)
encoded_Y = encoder.transform(Y_test)
# one hot encoded
Y_test_encoded = to_categorical(encoded_Y)

In [47]:
model.evaluate(X_test, Y_test_encoded)

30/30 [==============================] - 0s 4ms/sample - loss: 1.0952 - accuracy: 0.3667

[1.0951875448226929, 0.36666667]